<main class="form-signin w-100 m-auto">
    <form [formGroup]="loginForm">
        <img class="mb-1" src="/assets/img/logo.png" alt="Logo" width="150">
        <h2 class="h2 mb-2 fw-normal">JpWBook</h2>
        <h5 class="mb-3 fw-normal"> Sua vida escolar, mais conectada!</h5>

        
        <div class="form-floating mb-2">
            <input formControlName="email" type="text" class="form-control" id="email" placeholder="Email">
            <label for="email"><i class='bx bx-user' ></i> Email</label>
        </div>

        <div class="form-floating">
            <input formControlName="password" type="password" class="form-control" id="password" placeholder="Senha">
            <label for="password"><i class='bx bx-lock' ></i> Senha</label>
        </div>

        <div class="checkbox my-2 text-end">
            <label>
                <input type="checkbox" value="remember-me"> Manter conectado?
            </label>
        </div>
        <button class="w-100 btn btn-lg btn-primary mb-2" type="submit">Entrar</button>

        <a class="forgetPass" routerLink="/forget">Esqueceu a senha?</a>

        <div class="border-text"></div>
        <a routerLink="/register" class="w-100 btn btn-lg btn-success">Criar conta</a>

        <p class="mt-4 mb-3 text-body-secondary">&copy; 2023</p>
    </form>
</main>